#translate_content_card{
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 160px;
    min-height: 100px;
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 0px 0px;
}
#translate_content_card_move{
    width: 100%;
    height: 30px;
    background: #f2f2f2;
    padding: 0px 0px;
    border-radius: 4px 4px 2px 2px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select:none;
}
#translate_content_card_content{
    padding: 4px 8px;
}